.input_container {
  width: 30rem;
  height: 2.5rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background: transparent;
  padding: 0.2rem 0.5rem;
}

.input_container input[type='text'] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font: normal normal bold 1rem/12px OpenSans-Semibold;
  color: #6c757d;
  letter-spacing: 1.3px;
}
.input_container input[type='text']::placeholder {
  opacity: 0.5;
}

.btn {
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #009cde;
  color: #ffffff;
  font: normal normal bolder 0.85rem OpenSans-Semibold;
  border: 1px solid #009cde;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  letter-spacing: 2px;
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

.list_container {
  width: 30rem;
  height: auto;
  max-height: 40rem;
  overflow-y: scroll;
  padding: 1rem;
}

.list_container div {
  width: 100%;
  text-align: center;
}

.list_container li {
  width: 100%;
  list-style: none;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgrey;
}

.list_container li button {
  border: none;
  color: red;
  background: transparent;
}
